#caret {
    height: 5em;
    width: 3px;
    background: var(--caret-color);
    border-radius: 5px;
    position: absolute;
    transform-origin: top left;
    transform: translateX(110px) translateY(28px);
    animation: caretFlashSmooth 1s infinite;
}

