.caret {
    height: 90px;
    width: 3px;
    background: var(--caret-color);
    border-radius: 3px;
    position: absolute;
    transform-origin: top left;
    animation: caretFlashSmooth 1s infinite;
}

