<!DOCTYPE html>

<html lang="en">
    <head> 
        <!-- set up favicon -->
        <link rel="shortcut icon" href="https://img.icons8.com/cotton/64/000000/piano.png"/>

        <!-- load theme then stylesheet (in that order)-->
        <link rel="stylesheet" href="static/themes/serika_dark.css" id="currentTheme">
        <link rel="stylesheet" href="/static/style.css">   
        
        <!-- website titel -->
        <title>Donkeysight</title>
    </head>

    <body>
        {% block body %}{% endblock %}
    </body>
</html>