:root{
    --font: "Roboto Mono", monospace;
}

body {
    background-color: var(--bg-color);
    color: var(--main-color);
    font-family: var(--font);
    overflow-x: hidden;
}

.logo-text {
    color: var(--main-color);
    font-family: 'Consolas';
    font-size: 1.75em;

    &:hover {
        color: var(--main-color);
        text-decoration: none;
    }
}

/* override boostrap navbar colors */
.navbar-light .navbar-nav .nav-link {
    color: var(--sub-color);
}
.navbar-light .navbar-nav .nav-link:hover {
    color: var(--text-color);
}


.space-around{
    display:grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 3fr 1fr;
}


.center-content {
    display:grid;
    min-width: 1000px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10fr 2fr;
    grid-gap: 1em;

    > div{
        border: solid 0px #fff;
    }
}

#top {
    grid-template-areas: "logo menu config";
    padding: 0 5px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 0.5rem;

    .logo {
        cursor: pointer;
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 0.5rem;
        white-space: nowrap;

        .icon {
            display: grid;
            align-items: center;
        }

        .text {
            position: relative;
            font-size: 2rem;
            margin-bottom: 0rem;
            font-family: 'consolas';
            transition: .25s;
        }
    }

    .config {
        justify-self: right;
        display: grid;
        grid-template-rows: 0.7rem 0.7rem 0.7rem;
        grid-gap: 0.2rem;
        justify-items: self-end;

        .group {
            transition: .25s;
        }

        .buttons {
            font-size: .7rem;
            line-height: .7rem;
            display: flex;
        }
    }

    > div {
        border: solid 0px #fff;
    }
}


#music-space-around {
    grid-column: 1/2;
    display: grid;
    grid-template-rows: 1fr min-content 1fr;
}

#music-container {
    display: grid;
    padding: 0em;
}

.stave {
    max-height: 9em;
    border: solid 0px #f00;
}

svg {
    overflow:visible;
}


#bottom-bar {
    grid-column: 1/3;
    text-align: center;
    color: var(--sub-color);
}

/* Dropdown Button */
.theme-btn {
  color: var(--sub-color);
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.theme-dropdown {
  position: absolute;
  display: inline-block;

  &:hover .dropdown-content {
      display: block;
      bottom: 100%;
  }

  &:hover .theme-btn {
      background-color: var(--text-color);
  }
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

    a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        
        &:hover {background-color: #ddd;}
    }
}


.hidden {
    display: none!important;
}

.text-button {
    transition: 0.25s;
    color: var(--sub-color);
    cursor: pointer;
    margin-right: 0.25rem;
}

.text-button.active {
    color: var(--main-color);
}
